<% @new_files.each do |session, files|%>
  <h4><%= session %></h4>
  <ul class="song-list">
    <% files.each do |file| %>
      <li>
        <%= check_box_tag "sessions[#{session}][]", file, false, { id: "song_#{session}_#{file}" } %>
        <%= label_tag "song_#{session}_#{file}", file %>
      </li>
    <% end %>
  </ul>
<% end %>
<p>
  <%= check_box_tag 'check-all' %>
  <%= label_tag 'check-all', 'All songs' %>
</p>
<%= submit_tag 'Add selected files' %>
