<h3>Edit your profile</h3>
<%= form_for @user do |f| %>
  <%= render :partial => 'shared/error_messages',
    :locals => { :object => f.object } %>
  <div class="clearfix">
    <%= f.label :name %>
    <div class="input">
      <%= f.text_field :name, maxlength: 30, size: 30 %>
      <span id="user-name-input-help" class="help-input">
        Your name can be up to 30 characters long
      </span>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :email %>
    <div class="input">
    <%= f.text_field :email %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :password %>
    <div class="input">
      <%= f.password_field :password, maxlength: 40, size: 40 %>
      <span id="user-password-input-help" class="help-input">
        Your password can be up to 40 characters long (min. 6)
      </span>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :password_confirmation %>
    <div class="input">
    <%= f.password_field :password_confirmation, maxlength: 40, size: 40 %>
    </div>
  </div>
  <%= f.submit "Update your profile" %>
<% end %>
