<% if current_user %>
  <%= form_for comment do |f| %>
    <div class="clearfix">
      <%= f.hidden_field :song_id, :value => song.id %>
      <%= f.hidden_field :user_id, :value => user.id %>
      <%= f.text_field :text, maxlength: 500, size: 50 %>
      <%= f.submit "Add Comment!", :class => "submit" %> 
    </div>
  <% end %>
<% end %>
<% if song.comments.any? %>
  <p>COOOMMENTS</p>
  <% song.comments.each do |c| %>
    <div class="comment">
      <span><%= c.user.name %></span>
      <p><%= c.text %></p>
    </div>
  <% end %>
<% else %>
  <span class="no-comments">This song has no comments, add some!</span>
<% end %>
