<div class="song-info">
  <div class="song-tags">
    <h4>Tags:</h4>
    <p><%= render partial: "associated_tags", locals: { :song => @song } %></p>
    <p>
    <%= form_for @tag do |f| %>
      <%= f.hidden_field :song_id, :value => @song.id %>
      <%= f.text_field :name %>
      <%= f.submit "Add Tag!" %>
    <% end %>
    </p>
  </div>
</div>
