<p>
<% if song.tags.any? %>
  <% song.tags.each do |tag| %>
    <span class="tag"><%= link_to tag.name, tag_path(tag) %></span>
  <% end %>
<% else %>
  <span class="no-tags">This song has no tags!</span>
<% end %>
</p>
<% if current_user %>
  <%= form_for(@tag, remote: true) do |f| %>
    <div class="clearfix">
      <%= f.hidden_field :song_id, :value => song.id %>
      <%= f.text_field :name, maxlength: 20, size: 20 %>
      <%= f.submit "Add Tag!", :class => "submit" %> 
    </div>
  <% end %>
<% end %>
