<h3>
  <i class="icon-music"> </i>
  <%= @song.file_name %>
  <span class="recorded-at">
    <%= prettify_date(@song.session.session_date) %>
  </span>
</h3>
<div class="song-info">
  <h4>Listen to this song:</h4>
  <div class="listen">
    <p>Use the player to listen to the song or download the file:
      <%= song_download_link @song %>
    </p>
    <%= audio_tag(absolute_song_url(@song), controls: true) %>
  </div>
  <div class="song-voting">
    <%= link_to '<i class="icon-arrow-up"></i>'.html_safe,
                song_votes_path(@song, direction: 'up'),
                { method: :post, remote: true, title: 'Upvote' } %>
    <span class="score">
      <%= @song.score %>
    </span>
    <%= link_to '<i class="icon-arrow-down"></i>'.html_safe,
                song_votes_path(@song, direction: 'down'),
                { method: :post, remote: true, title: 'Downvote' } %>
  </div>
  <h4>Tags:</h4>
  <div class="song-tags">
    <%= render partial: "tags", locals: { song: @song, tag: @tag } %>
  </div>

  <h4>Comments:</h4>
  <div class="song-comments">
    <%= render partial: "comments", locals: { song: @song, comment: @comment, user: current_user } %>
  </div>
</div>
