<h3>
  <%= @song.file_name %>
  <span class="recorded-at">
    <%= prettify_date(@song.session.session_date) %>
  </span>
</h3>
<div class="song-info">
  <h4>Listen to this song:
    <% if current_user && current_user.admin? %>
      <span class="delete">
        <%= link_to 'Delete this song', @song, :method  => :delete,
                                               :confirm => "Are you sure?" %>
      </span>
    <% end %>
  </h4>
  <div class="listen">
    <p>Use the player to listen to the song or download the file:
      <%= song_download_link @song %>
    </p>
    <%= audio_tag(absolute_song_url(@song), :controls => true) %>
  </div>
  <h4>Tags:</h4>
  <div class="song-tags">
    <%= render partial: "tags", locals: { :song => @song, :tag => @tag } %>
  </div>
  <h4>Comments:</h4>
  <div class="song-comments">
    <%= render partial: "comments", locals: { :song => @song,
                                              :comment => @comment,
                                              :user => current_user } %>
  </div>
</div>
