<p>
<% if signed_in? %>
  Hello, <%= current_user.name %>
  <% if current_user.admin %>
    <span class="admin_tasks">
      <%= link_to "Add new sessions", new_session_path %> |
      <%= link_to "List users", users_path %>
    </span>
  <% end %>
  <span id="user-controls">
  <%= link_to "Edit profile", edit_user_path(current_user) %> | 
  <%= link_to "Sign out", signout_path, :method => :delete %>
  </span>
<% else %>
  <span id="user-controls">
  <%= link_to "Sign in", signin_path %> or
  <%= link_to "Create an account", signup_path %>
  </span>
<% end %>
</p>
